 /* Estilo para o loading */
 .loading {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

/* Estilo para o spinner */
.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #00968c;
    border-radius: 50%;
    
    width: 90px;
    height: 90px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}